<div class="topbar">
    <div class="logo-box">
        <img src="../public/images/logo.png" class="logo">
    </div>
    <div class="right-bar">
        <div class="search-box">
            <form action="/search" method="post">
                <label for="search">
                    <input name="search" placeholder="enter keyword">
                </label>
                <button type="submit">search</button>
            </form>
        </div>
        <div class="login-box">
            {{#if login }}
            <a href="http://localhost:3000/private/{{user._id}}">{{user.username}}</a>
            <a href="http://localhost:3000/logout">logout</a>
            {{else}}
            <a href="http://localhost:3000/login">login</a>
            {{/if}}
        </div>
    </div>
</div>



<div class="page-container">

    <ul>
        {{#each recipe}}
        <li class="homepage-img-box">
            <img src="{{picture}}" width="320" height="240">
            <a href="http://localhost:3000/recipes/{{_id}}">{{title}}</a>
        </li>
        {{/each}}
    </ul>
</div>