{{#if login }}
    <a href="http://localhost:3000/private/{{user._id}}">{{user.username}}</a>
    <a href="http://localhost:3000/logout">logout</a>
{{else}}
    <a href="http://localhost:3000/login">login</a>
{{/if}}
<ul>
    {{#each recipe}}
        <li>
            <a href="http://localhost:3000/recipes/{{_id}}">{{title}}</a>
            <img src="{{picture}}" width="320" height="240">
        </li>
    {{/each}}
</ul>

<form action="/search" method="post">
    <label for="search">
        <input name="search" placeholder="enter keyword">
    </label>
    <button type="submit">search</button>
</form>