
    {{#if login }}
        <a href="http://localhost:3000/private/{{user.id}}">{{user.username}}</a>
        <a href="http://localhost:3000/logout">logout</a>
    {{else}}
        <a href="http://localhost:3000/login">login</a>
    {{/if}}
    {{#each recipe}}
    <a href="http://localhost:3000/recipes/{{recipe.id}}">{{recipe.title}}</a>
    {{/each}}