<div class="topbar">
    <div class="logo-box">
        <a href="http://localhost:3000/"> <img src="../public/images/logo.png" class="logo"></a>
    </div>
    <div class="right-bar">
        <div class="login-box">
                <a href="http://localhost:3000/private/{{user._id}}">{{user.username}}</a>
                <a href="http://localhost:3000/logout">logout</a>
        </div>
    </div>
</div>

<form action="{{id}}/approve" method="post">
    <button type="submit">Approve</button>
</form>
<form action="{{id}}/deny" method="post">
    <button type="submit">Deny</button>
</form>

<div class="recipe-page-container">
    <div class="recipe-title">
        <p class="home-category">{{recipe.title}}</p>
    </div>
    <div class="recipe-info">
        <div>
            <img src="{{recipe.picture}}" width="500" height="400">
        </div>
        <a href="http://localhost:3000/public/{{recipe.posterID}}">By: {{recipe.posterName}}</a>
    </div>

    <table>
        <tr>
            <th>Ingredients</th>
            <th>Amount</th>
        </tr>
        {{#each recipe.ingredients}}
            <tr>
                <td>{{name}}</td>
                <td>{{amount}}</td>
            </tr>
        {{/each}}

    </table>

    <div class="recipe-steps">
        <ol>
            {{#each recipe.steps}}
                <li>
                    <p class="text">{{instruction}}</p>
                    {{#each image}}
                        <img src="{{src}}" width="320" height="240"> {{/each}}
                </li>
            {{/each}}
        </ol>
    </div>