<div class="topbar">
    <div class="logo-box">
        <a href="http://localhost:3000/"> <img src="../public/images/logo.png" class="logo"></a>
    </div>
    <div class="right-bar">
        <div class="login-box">
            <a href="http://localhost:3000/private/{{user._id}}">{{user.username}}</a>
            <a href="http://localhost:3000/logout">logout</a>
        </div>
    </div>
</div>


<p>{{user.username}}</p>

{{#if admin }}
    {{#each queue}}
        <a href="http://localhost:3000/queue/{{_id}}">{{recipe.title}}</a>
        <img src="{{recipe.picture}}" width="320" height="240">
    {{/each}}
{{else}}
    <a href="http://localhost:3000/recipes/upload">New Recipe</a>
    <ul>
        {{#each follows}}
            <li>
                <a href="http://localhost:3000/public/{{_id}}">{{profile.nickname}}</a>
            </li>
        {{/each}}
    </ul>
    <ul>
        <p>Your favorite recipes</p>
        {{#each favorite}}
            <li>
                <a href="http://localhost:3000/recipes/{{_id}}">{{title}}</a>
                <img src="{{picture}}" width="320" height="240">
            </li>
        {{/each}}
    </ul>
    <ul>
        <p>Your post recipes</p>
        {{#each post}}
            <li>
                <a href="http://localhost:3000/recipes/{{_id}}">{{title}}</a>
                <img src="{{picture}}" width="320" height="240">
            </li>
        {{/each}}
    </ul>
{{/if}}