<a href="http://localhost:3000">home</a>
<p>{{user.username}}</p>
{{#if follows}}
    <p class="followAction follows">&#10084;</p>
{{else}}
    <p class="followAction unfollows">&#10084;</p>
{{/if}}
<ul>
    <p>{{user.username}}'s post recipes</p>
    {{#each post}}
        <li>
            <a href="http://localhost:3000/recipes/{{_id}}">{{title}}</a>
            <img src="{{picture}}" width="320" height="240">
        </li>
    {{/each}}
</ul>