<div class="topbar">
    <div class="logo-box">
        <a href="http://localhost:3000/"> <img src="../public/images/logo.png" class="logo"></a>
    </div>
    <div class="right-bar">
        <div class="login-box">
            {{#if login }}
                <a href="http://localhost:3000/private/{{user._id}}">{{user.username}}</a>
                <a href="http://localhost:3000/logout">logout</a>
            {{else}}
                <a href="http://localhost:3000/login">login</a>
            {{/if}}
        </div>
    </div>
</div>
<div class="recipe-topbar">
    <div>
        <a href="http://localhost:3000/categories/{{recipe.category}}">{{recipe.category_name}} >> </a>
    </div>
</div>
<div class="recipe-page-container">
    <div class="recipe-title">
        <p>{{recipe.title}}</p>
        {{#if like}}
        <p class="likeAction like">&#10084;</p>
        {{else}}
        <p class="likeAction unlike">&#10084;</p>
        {{/if}}
    </div>
    <div class="recipe-info">
        <div>
            <img src="{{recipe.picture}}" width="500" height="400">
        </div>
        <a href="http://localhost:3000/public/{{recipe.posterID}}">By: {{recipe.posterName}}</a>
    </div>

    <table>
        <tr>
            <th>Ingredients</th>
            <th>Amount</th>
        </tr>
        {{#each recipe.ingredients}}
        <tr>
            <td>{{name}}</td>
            <td>{{amount}}</td>
        </tr>
        {{/each}}

    </table>

    <div class="recipe-steps">
        <ol>
            {{#each recipe.steps}}
            <li>
                <p class="text">{{instruction}}</p>
                {{#each image}}
                <img src="{{src}}" width="320" height="240"> {{/each}}
            </li>
            {{/each}}
        </ol>
    </div>

    <h2 align="center">----------------- Comments -----------------</h2>
    <ul class="recipe-comment">
        {{#each recipe.comment}}
        <li>
            <p class="name">{{poster.nickname}}:</p>
            <br>
            <p class="content">{{content}}</p>
        </li>
        {{/each}}
    </ul>

    <!--<form action="/recipes/{{id}}/comment" method="post">-->
    <!--<label for="comment">-->
    <!--<input name="comment" placeholder="enter some comments here.">-->
    <!--</label>-->
    <!--<button type="submit">comment</button>-->
    <!--</form>-->

    <div class="new-comment">
        <textarea id="comment" name="comment" rows="4" cols="50" placeholder="enter some comments here."></textarea>
        <button type="botton" class="comment">comment</button>
    </div>
