<div class="topbar">
    <div class="logo-box">
        <a href="http://localhost:3000/"> <img src="../public/images/logo.png" class="logo"></a>
    </div>
    <div class="right-bar">
        <div class="login-box">
            {{#if login }}
                <a href="http://localhost:3000/private/{{user._id}}">{{user.username}}</a>
                <a href="http://localhost:3000/logout">logout</a>
            {{else}}
                <a href="http://localhost:3000/login">login</a>
            {{/if}}
        </div>
    </div>
</div>

<div>
<a href="http://localhost:3000/categories/{{recipe.category}}">{{recipe.category_name}} >> </a>
<p>{{recipe.title}}</p>
</div>
{{#if like}}
    <p class="likeAction like">&#10084;</p>
{{else}}
    <p class="likeAction unlike">&#10084;</p>
{{/if}}

<p>{{recipe.likes}}</p>
<a href="http://localhost:3000/public/{{recipe.posterID}}">{{recipe.posterName}}</a>
<img src="{{recipe.picture}}" width="500" height="400">
<ul>
    {{#each recipe.ingredients}}
        <li>
            <div>
                <p>{{name}}</p>
                <p>{{amount}}</p>
            </div>
        </li>
    {{/each}}
</ul>
<ul>
    {{#each recipe.steps}}
        <li>
            <p>{{instruction}}</p>
            {{#each image}}
                <img src="{{src}}" width="320" height="240">
            {{/each}}
        </li>
    {{/each}}
</ul>
<ul>
    {{#each recipe.comment}}
        <li>
            <p>{{poster.nickname}}</p>
            <br>
            <p>{{content}}</p>
        </li>
    {{/each}}
</ul>

<!--<form action="/recipes/{{id}}/comment" method="post">-->
    <!--<label for="comment">-->
        <!--<input name="comment" placeholder="enter some comments here.">-->
    <!--</label>-->
    <!--<button type="submit">comment</button>-->
<!--</form>-->

<div>
    <label for="comment">
        <input id="comment" type="text" name="comment" placeholder="enter some comments here.">
    </label>
    <button type="button" class="comment">comment</button>
</div>