<p>{{recipe.title}}</p>
<p>{{recipe.category}}</p>
<p>{{recipe.likes}}</p>
<p>{{recipe.posterID}}</p>
<img src="{{recipe.picture}}" width="500" height="400">
<ul>
    {{#each recipe.ingredients}}
        <li>
            <div>
                <p>{{name}}</p>
                <p>{{amount}}</p>
            </div>
        </li>
    {{/each}}
</ul>
<ul>
    {{#each recipe.steps}}
        <li>
            <p>{{instruction}}</p>
            {{#each image}}
                <img src="{{src}}" width="320" height="240">
            {{/each}}
        </li>
    {{/each}}
</ul>
<ul>
    {{#each recipe.comment}}
        <li>
            <p>{{poster.nickname}}</p>
            <br>
            <p>{{content}}</p>
        </li>
    {{/each}}
</ul>

<form action="/recipes/{{id}}" method="post">
    <label for="comment">
        <input name="comment" placeholder="enter some comments here.">
    </label>
    <button type="submit">comment</button>
</form>